.dashboardContainer {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #0a1e62;
    padding: 1rem;
    padding-bottom: 5rem; /* Adjusted for fixed bottom navigation */
}

.topBar 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.languageSection {
    display: flex;
    align-items: center;
}

.selectedLanguage {
    font-size: 18px;
    font-weight: bold;
    margin-left: 0.5rem;
    color: white;
}

.flagIcon {
    width: 24px;
    height: 24px;
}

.logo {
    width: 50px;
    height: 50px;
}

.profileSection {
    position: relative;
}

.profileIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.notificationBadge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.25rem;
    font-size: 12px;
}

.balanceSection {
    /* background-color: #09336b; */
    background-image: linear-gradient(to right, #09336b, #13457f);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.AccountType {
    margin-left: -45%;
    margin-top: -2%;
    color: rgb(186, 181, 181);
    font-size: 22px;
}

.balance {
    font-size: 1.4rem;
    margin: 0.5rem 0;
}

.creditDebitInfo {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.actionsGrid {
    background-color: white;
    border-radius: 15px;
    padding: 0.7rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.1rem;
    /* margin-left: -1rem;
    margin-right: -1rem; */
}

.actionItem {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 0.2rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
}

.actionIcon {
    font-size: 20px;
    margin-bottom: 0.5rem;
    background-color: #0a1e62;
    padding: 16px;
    color: #ffffff;
    border-radius: 10px;
}

.actionDivider {
    grid-column: span 3;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.5rem 0;
}

.bottomNavigation {
    display: flex;
    justify-content: space-around;
    background-color:#ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
}

.navIcon {
    font-size: 1.6em;
    color:#09336b;
}

.chatButton {
    position: fixed;
    bottom: 80px; 
    right: 20px; 
    background-color: #ff4500; /* Dark orange color */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 1000; 
}

.chatIcon
 {
    font-size: 28px;
    color: white;
}
